node_modules
.env
.env.prod.local
.env.prod.dev
.env.prod.prod
.env.prod.development.local
.env.prod.test.local
.env.prod.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
uploads/
*.log

# Keep example files
!.env.prod.example
!.env.prod.local.example
!.env.prod.prod
!.env.prod.prod.example